body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.sketch {
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 60vh;
    border: 1px solid black;

}

.box {
    box-sizing: border-box;
    border: 0px solid black;
}

.hover {
    background-color: black;
}